.messageBox {
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: #eeeeee;
    margin: 0.3em;
    max-width: 100%;
    border-radius: 1em;
    padding: 13px;
    font-size: 15px;
    word-wrap: break-word;
    position: relative; /* Для позиционирования времени */
}

.messageContainer {
    align-self: self-end;
    display: flex;
    align-items: center;
}

.messageTimestamp {
    font-size: 12px;
    color: #888;
    margin-right: 10px; /* Отступ справа от времени */
}