p {
    margin: 0;
}

* {
    font-family: inherit;
}

a {
    text-decoration: none;
}

.dateSeparator {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #888;
}

.InputContainer {
    display: flex;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}